__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
.eggs/
*.egg-info/
.git
.gitignore
.vscode
.idea
*.md
.DS_Store
htmlcov/
.coverage
.pytest_cache
mypy_cache/
*.log
.pre-commit-config.yaml
.pre-commit-hooks.yaml
